<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeparateTabSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA0C879C1E02FC70001C2B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0C87B01E02FC71001C2B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0C87BB1E02FC71001C2B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
